* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E0E6E3;
}

.container {
    max-width: 1320px;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    margin: 0 auto;
}

.header-logo {
    font-size: 30px;
    background-color: #02391E;
    color: white;
    padding: 20px;
}

.search-section {
    padding: 5px;
    margin-top: 10px;
    background-color: #C3D0C9;

    display: flex;
    justify-content: space-between;
}

.search-bar {
    padding: 5px;
    border-radius: 5px;
}

.search-button {
    padding: 5px;
    border-radius: 5px;
}

.filter-field {
    display: flex;
}

.filter-lbl {
    font-size: 20px;
}

#ratting {
    display: inline-block;
    margin-right: 10px;
    padding: 2px;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
}

#language {
    display: inline-block;
    margin-right: 10px;
    padding: 2px;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
}

.blog-section {
    margin: 20px 0 40px 0;
}

.blog-card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.blog-card {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    height: 300px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075)
}

.blog-card-image {
    height: 75%;
}

.card-image {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-footer {
    height: 25%;
    background-color: #B6C7BF;
    padding: 5px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 0 auto 0 auto;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

/* .title {
    width: 33%;
}

.language {
    width: 33%;
}

.ratting-block {
    width: 33%;
} */

.movie-name {
    font-size: 16px;
    white-space: pre-line;
    overflow: none;
    margin-left: 10px;

    /* word-wrap: break-word; */
}

.language {
    margin: 0 auto 0 auto;
}

.ratting-block {
    margin: 0 20px 0 auto;
}

@media screen and (max-width:1280px){
    .container{
    max-width: 1140px;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    margin: 0 auto;
    }
}
@media screen and (max-width:1140px){
    .container{
    max-width: 960px;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    margin: 0 auto;
    }
}
@media screen and (max-width:960px){
    .container{
    max-width: 768;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    margin: 0 auto;
    }    
}

@media screen and (max-width:768px){
    .container{
    max-width: 520px;
    margin: 0 auto;
    }
    .blog-card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .filter-field {
        display: flex;
        flex-direction: row;
    }
}


